<div>
    <p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true">
        <header>CRUD for Cars</header>
        <p-column field="vin" header="Vin" [sortable]="true"></p-column>
        <p-column field="year" header="Year" [sortable]="true"></p-column>
        <p-column field="brand" header="Brand" [sortable]="true"></p-column>
        <p-column field="color" header="Color" [sortable]="true"></p-column>
        <footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></footer>
    </p-dataTable>

    <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="car">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="vin">Vin</label></div>
                <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="brand">Year</label></div>
                <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.year" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
                <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="color">Color</label></div>
                <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </footer>
    </p-dialog>

    <h2>A few buttons</h2>
    <button pButton type="text" (click)="count()" label="Click"></button>
    <button pButton type="text" (click)="count()" icon="fa-check" label="Click"></button>

    <button pButton type="text" (click)="count()" icon="fa-check" iconPos="right" label="Click"></button>

    <button pButton type="text" (click)="count()" icon="fa-check"></button>

    <button pButton type="text" (click)="count()" icon="fa-check" [disabled]="true" label="Disabled"></button>

    <button pButton type="button"  (click)="count()"  class="ui-button-info"  label="info"></button>

    <button pButton type="button"  (click)="count()"  class="ui-button-danger"  label="danger"></button>

    Number of clicks: {{clicks}}
    <h2>Upload Example</h2>
    <p-fileUpload name="myfile[]" url="http://localhost:3000/upload" multiple="multiple"></p-fileUpload>

    <h2>Upload image, max 1MB</h2>
    <p-fileUpload name="myfile[]" url="http://localhost:3000/upload" multiple="multiple"
                  accept="image/*" maxFileSize="1000000">
        <template pTemplate="toolbar">
            <div>Upload 3 Files</div>
        </template>
        <template let-file pTemplate="file">
            <div>Custom UI to display a file</div>
        </template>
        <template pTemplate="content">
            <div>Custom UI to manage uploaded files</div>
        </template>
    </p-fileUpload>
</div>
